
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> DOcument </title>
<link rel="stylesheet" type="text/css" href="./CSS/custom.css"/>
</head>

<body>


<header>
<div class ="row">
  <div class="logo">
<img src="./Images/sa.jpg">

  </div>
<ul class="main-nav">
<li><a href="">Food delivery </a></li>
<li><a href="">Food order </a></li>
<li><a href="">Food Menu </a></li>
<li><a href="Login.html">Sign In </a></li>

</ul>



</div>




<div class="hero">
<h1> View our delicious menu featuring of meals, snacks, drinks and more.</h1>


</div>
</header>
</body>
</html>
