<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap slideshow</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Bootstrap slideshow" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:0">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/galleryimg4.jpg" alt="gallery-img4" title="gallery-img4" id="wows1_0"/></li>
		<li><img src="data1/images/good.jpg" alt="good" title="good" id="wows1_1"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/mex.jpg" alt="bootstrap image slider" title="mex" id="wows1_2"/></a></li>
		<li><img src="data1/images/pizza.jpg" alt="pizza" title="pizza" id="wows1_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="gallery-img4"><span><img src="data1/tooltips/galleryimg4.jpg" alt="gallery-img4"/>1</span></a>
		<a href="#" title="good"><span><img src="data1/tooltips/good.jpg" alt="good"/>2</span></a>
		<a href="#" title="mex"><span><img src="data1/tooltips/mex.jpg" alt="mex"/>3</span></a>
		<a href="#" title="pizza"><span><img src="data1/tooltips/pizza.jpg" alt="pizza"/>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">bootstrap slideshow</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>